@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SQL Server / ASP.NET
    </h1><p class="text-center"> Demo app for Contacts & Orders</p>
</div>

<div class="row">
    <div class="col-md-4">
        
</div>